.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.dashboard p {
    color: #aaa;
    margin-bottom: 1em;
}

.productHeader, .productRow {
    display: flex;
    justify-content: space-between;
    
    width: 80%;
    padding: 10px;
}

.productHeader {
    font-weight: bold;
    border-bottom: 2px solid #CCC;
}

.productRow {
    align-items: center;
    border-bottom: 1px solid #EEE;
    flex-wrap: wrap;
}

.productRow p {
    color: #000;
}

.productRow button,
.productRow a {
    margin: 0 5px;
    height: 30px;
    width: auto; 
    font-size: 0.7em;

}