.editProduct {
    text-align: center;
}

.editProduct h2 {
    font-size: 2.2em;
}

.editProduct p {
    color: #AAA;
    margin-bottom: 2em;
}

.editProduct .previewTitle {
    margin-bottom: 2em;
    color: #000;
    font-weight: bold;
}

.imagePreview {
    max-width: 100%;
    margin-bottom: 1em;
}